
.academic__courses__item__title{
    font-size: 22px;
    color: #464646;
    margin-top: 0px;
}
.academic__courses__item__subtitle{
    color: #464646;
}

h4{
    margin-bottom: -15px;
}